.container {
  // min-height: 100vh;
  margin: 0px auto;
  width: 1350px;
  // background-color: #dadada;
  display: grid;
  grid-template-columns: 1fr 2fr 1.4fr;

  border: 0.5px solid rgba(0, 0, 0, 0.3);
}
