* {
  margin: 0;
  padding: 0;
}
.middle {
  top: 0;
  padding: 0;
  border: 0.5px solid rgba($color: #000000, $alpha: 0.3);
  font-size: 1.4rem;
  line-height: 2rem;
  height: 100%;

  .middle-top {
    top: 0;
    position: sticky;
    background-color: white;
    padding: 5px 10px;
    border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 22px;
    }

    .r-13gxpu9 {
      @include square(25px, 25px);
      fill: $primaryColor;
    }
  }
}

.newTweet {
  @include flex-column;
  justify-content: center;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
  .picture-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      @include csquare(75px, 75px);
      padding: 15px;
    }
    input {
      font-size: 20px;
      border: none;
      width: 85%;
      height: 50px;
      top: 0;

      &:focus {
        outline: none;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
      }
    }
  }

  .actions-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 0%;
    .actions {
      display: flex;
      justify-content: space-around;
      svg {
        @include square(50px, 50px);
        padding: 15px;

        &:hover {
          cursor: pointer;
          fill: $primaryColor;
        }
      }
    }

    .tweet-button-submit {
      button {
        background-color: $primaryColor;
        color: white;
        padding: 10px;
        height: 40px;
        width: 80px;
        border-radius: 22px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.main-post-div {
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.3);
  .post-profile-picture {
    @include csquare(80px, 80px);
    padding: 12px;
  }
  .post-status-info {
    flex: 1;
    padding: 0px 10px;
    @include flex-column;
    .name-username-time-more {
      display: flex;
      justify-content: space-between;

      .name-username-time {
        @include flex-center;

        h4 {
          font-size: 20px;
          color: rgb(41, 40, 40);
        }
        h5 {
          padding: 0px 5px;
          font-size: 15px;
          color: rgb(82, 82, 82);
          position: relative;
        }
        #time::before {
          content: "";
          @include csquare(3px, 3px);
          position: absolute;
          top: 50%;
          left: 0%;
          background: rgb(82, 82, 82);
          transform: translate(-50%, -50%);
        }
      }
      .post-status-more {
        padding: 5px;
        svg {
          @include square(20px, 20px);
        }
      }
    }

    .post-tweet {
      p {
        font-size: 18px;
      }
    }
    .post-tweet-image {
      img {
        height: 300px;
        width: 100%;
        padding: 10px 0px;
        border-radius: 50px;
      }
    }

    .post-button-action {
      margin-left: 20px;
      width: 80%;
      display: flex;
      justify-content: space-between;
      svg {
        @include square(25px, 25px);
      }
    }
  }
}
