.App {
  width: 100%;
}

$primaryColor: #1da1f2;

$homeBlack: #0f1419;
$grey: #5b7083;
$bakground: #f7f9fa;

@import "main.scss";
@import "middle.scss";
@import "left.scss";
@import "right.scss";

// @import './left';
// @import './main';
// @import './middle';
// @import './right';
// @import './search';
